<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <style>
        .bg-text {
            font-family: "Lobster", serif;
            background-color: rgb(247, 247, 247);
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            font-weight: bold;
            border: 3px solid #ffffff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 50%;
            padding: 20px;
            text-align: center;
        }

    </style>

    <title> Congratulations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

    <style>
        body {
            background-image: url('https://www.churchhill.worcs.sch.uk/wp-content/uploads/2015/09/blue-abstract-background-1024x625.jpg');
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
    <br>
    <br>
    <br>
    <div class="bg-text">
        <h1>login Successful</h1>
    </div>

</body>

</html>